/* 图标 */
.arrow_icon {
  display: inline-block;
  width: 10.5px;
  height: 10.5px;
  border-width: 1px;
  border-color: #999999;
  border-style: solid solid none none;
  transform: rotate(45deg);
}

.search_icon {
  display: inline-block;
  width: 16.5px;
  height: 16.5px;
  vertical-align: middle;
  background: url('../images/loupe_icon.png') no-repeat center center;
  background-size: cover;
}

.delete_icon {
  display: inline-block;
  width: 16.5px;
  height: 16.5px;
  vertical-align: middle;
  background: url('../images/delete_icon.png') no-repeat center center;
  background-size: cover;
}

.edit_icon {
  display: inline-block;
  width: 16.5px;
  height: 16.5px;
  vertical-align: middle;
  background: url('../images/edit_icon.png') no-repeat center center;
  background-size: cover;
}

.position_icon {
  display: inline-block;
  width: 18px;
  height: 22px;
  vertical-align: middle;
  background: url('../images/position_icon.png') no-repeat center center;
  background-size: contain;
}

.member_icon {
  display: inline-block;
  width: 21px;
  height: 15.5px;
  vertical-align: middle;
  background: url('../images/hy_icon.png') no-repeat center center;
  background-size: contain;
}

.fold_icon {
  display: inline-block;
  width: 30px;
  height: 13.5px;
  vertical-align: middle;
  background: url('../images/zk_icon.png') no-repeat center center;
  background-size: contain;
}

.wx_icon {
  display: inline-block;
  width: 21px;
  height: 18px;
  vertical-align: middle;
  background: url('../images/wx_icon.png') no-repeat center center;
  background-size: contain;
}

.personal_img_icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  background: url('../images/personal_vip.png') no-repeat center center;
  background-size: contain;
}

.home_navber_icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  background: url('../images/tabbar-home2x.png') no-repeat center center;
  background-size: contain;
}

.personal_navber_icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  background: url('../images/tabbar-personal2x.png') no-repeat center center;
  background-size: contain;
}

.phone_navber_icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  background: url('../images/tabbar-phone2x.png') no-repeat center center;
  background-size: contain;
}
